<div class=jumbotron>
    <div class="container">
        <h1>Welcome To Shrine</h1>
        <form class="form-signin" method="GET" action="{{ @homepath }}/login">
            <button class="btn mx-5 btn-lg btn-light my-5" type="submit">Login</button>
        </form>
    </div>
    <div class="container">
        <form class="form-signin" method="GET" action="{{ @homepath }}/register">
            <button class="btn mx-5 btn-lg btn-light my-5" type="submit">Register</button><br>
        </form>
    </div>
</div>