<header>
  <nav class="navbar navbar-expand-lg navbar-light d-flex" id="nav">
    <div class="navbar-collapse d-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ @homepath }}/profile/">Profile</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ @homepath }}/newsfeed">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ @homepath }}/friendlist">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ @homepath }}/dm">DM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ @homepath }}/livechat" target="_blank">Live Chat</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ @homepath }}/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>